.venv
*.pyc
data/replication/ablations/ablations.csv
analysis/prep_tax_class_err_analysis.ipynb
analysis/generate_context_summary_annotations.py
analysis/prep_inf_plausibility_err_analysis.py
analysis/prep_ssf_sim_global_validation_annotations.ipynb
analysis/sample_ssf_sim_sem_sim_example_pairs.py
src/ssf/utils/story_pair_selector.py
data/replication/analysis/plausibility_error_analyses/
data/replication/analysis/

data/replication/annotations/ctx_summarization/ann1/_conversation_summary_human_ann.csv
data/replication/annotations/ctx_summarization/ann1/_progenitor_summary_human_ann.csv
data/replication/annotations/ctx_summarization/ann2/_conversation_summary_human_ann.csv
data/replication/annotations/ctx_summarization/ann2/_progenitor_summary_human_ann.csv

data/replication/corpus/outputs
data/replication/corpus/prompts
data/replication/corpus/ssf-corpus

data/replication/corpus/ssf_gen_eval.csv
data/replication/corpus/ssf_split_test.csv
data/replication/corpus/ssf_split_train.csv
data/replication/corpus/ssf_split_val.csv
data/replication/corpus/ssf_split.csv
data/replication/corpus/ssf.csv
data/replication/corpus_backup

data/replication/ref_inf_class
data/replication/ref_inf_gen
data/replication/ssf_class_ft
data/replication/ssf_class_inf
data/replication/ssf_gen_ft
data/replication/ssf_gen_inf

demos/outputs/*

POTATO/

results/similarity/story_pair_selection_results_*
results/similarity/story_pair_selection_table_*

*.DS_Store
data/subreddits_metadata/rules_subreddit_set_backup.csv
scripts/filter_rules_by_subreddits.py